#back {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  text-align: center;
}
#screen {
  width: 300px;
  height: 300px;
  margin: 25px;
  border-radius: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}
#screen.waiting, #screen.exit {
  background-color: rgba(0, 0, 255, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.5);
}
#screen.ready {
  background-color: rgba(255, 127, 0, 0.8);
  box-shadow: 0px 0px 20px rgba(255, 127, 0, 0.8);
}
#screen.now {
  background-color: rgba(0, 255, 0, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 255, 0, 0.5);
}
#message {
  width: 100%;
  font-size: 32px;
}
#result {
  height: 30px;
}